.containerAbout {
    margin: 0 auto;
    width: 95%;
    margin-top: -10px;
}

.header1 {
    position: relative;
    background-image: url(../headerBackground.png);
    width: 100%;
    height: 50px;
    background-size: 100%;
    color: white;
}


    .header1 .logo {
        float: left;
        position: absolute;
        width: 400px;
        height: 0px;
        margin-left: 36%;
        margin-top: 100px;
    }


.navBar1 ul {
    list-style-type: none;
    padding: 0px;
}

.navBar1 li {
    float: left;
}

    .navBar1 li a {
        display: block;
        color: white;
        text-align: center;
        margin-left: 25px;
        margin-top: 14px;
        text-decoration: none;
    }

        .navBar1 li a:hover {
            color: darkred;
            text-decoration: none;
        }

.carousel-inner > .itemactive > img,
.carousel-inner > .item > img {
    width: 100%;
}
