.container1{
    margin: 0 auto;
    width:95%;
}

.titleField {
    width: 100%;
    height: 30px;
    font-size: 25px;
    margin-top : 10px;
}

.ImageSide{
    float:left;
    width : 20%;
    
}

.detailSide{
    float : left;
    margin-left : 50px;
    width : 450px;
    margin-top : 10px;
}

.Author {
    border: solid  1px;
    padding : 10px;
    width : 450px;
}
.Publisher {
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right : solid 1px;
    padding: 10px;
    width : 450px;
}
.Rate {
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    padding: 10px;
    width: 450px;
}

#labelStock{
    margin-top : 20px;
    float : left;
}

.btnReserve
{
    float:right;
    margin-top: 20px;
}


.Image {
    float: left;
    position: static;
    margin-top: 10px;
    height: 300px;
    width: 250px;
}

.SummarySide {
    float: left;
    margin: 0 auto;
    padding : 15px;
    min-height : 250px;
    letter-spacing: 3px;
}
.bookDetail{
    margin : 0 auto;
    width : 90%;
    min-height: 450px;
}

.commentBox {
    float: left;
    width: 100%;
}

.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    float: left;
    width: 50%;
}



.CommentSide {
    border : solid 1px;
    float: left;
    width: 100%;
    min-height: 100px;
    padding : 10px;
}

.CommentSide ul{
    margin-top: 10px;
    text-decoration : none;
    margin-left : 50px;
}


.commentArea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize: vertical;
    outline: none;
    border: 1px solid #F2F2F2;
}


.btnComment {
    border: medium none;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
}



.stars {
    float: left;
}

.set{
   color : #495057;
   font-size : 50px;
}

.tik{
    float:right;
    max-width : 35px;
    max-height : 35px;
    
}

.bookComment{
    width : 90%;
    margin : 0 auto;
}

.CommentListClass {
    max-width: 800px;
    min-width: 500px;
    word-wrap: break-word
}

.imgComment
{
    position : relative;
    float:left;
    height : 80px;
}












