
.ContainerContact {
    margin: 0 auto;
    width: 95%;
    min-height: 650px;
    background-color: #3e3e42;
    background-image: url('../booksBackgroundDown.png');
    
}

.navBar2{
   width:100%;
   height : 43px;
   background-image : url(../../images/navBarBackground.png);
   background-size: 100% 100%
    
}


.navBar2 ul {
   list-style-type: none;
   padding:0; 
}

.navBar2 li {
    float: left;
}

.navBar2 li a {
    display: block;
    color: white;
    text-align: center;
    margin-left: 25px;
    margin-top: 14px;
    text-decoration: none;
}

.navBar2 li a:hover {
    color: darkred;
    text-decoration : none;
}



.contactPage{   
    margin-top: 10px;
    height : 550px;
    width : 100%;
}

.form1{
    position:absolute;
    float:left;
    margin-left:300px;
    width: 600px;
  
  
}

.rightSide
{
   position:relative;  
   float:left;
   margin-left: 16px;
  margin-top:30px;
   height: 300px;
   width: 300px;
    margin-right:10px;
}

.title{
    margin-top:10px;
    margin-left: 25px;
    color:red;
    padding:0;
}

.info{
    margin-left : 25px;
    color:white;
}